.navbar {
  background: none !important;
}

.nav_foucs:focus {
  box-shadow: none;
}

.logo img {
  max-width: 150px;
  width: 100%;
}

.formControl {
  margin-right: 20px;
}

.formControl:focus {
  color: #212529;
  background-color: #fff;
  border-color: #1dbf73;
  outline: 0;
  box-shadow: none;
}

.searchBtn,
.searchBtn:hover {
  background: #1dbf73;
  border-color: #1dbf73;
}

@media (min-width: 300px) and (max-width: 767px) {
  .logo img {
    max-width: 100px;
    width: 100%;
  }
}
